<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <a th:href="@{/user/form}">CREATE</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Role ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.role.id}"></td>
                <td>
                    <a th:href="@{/user/form/{id} (id = ${user.id})}">Edit</a> 
                    | 
                    <form method="post" th:action="@{/user/delete/{id} (id = ${user.id})}">
                        <button type="submit">Delete</button>

                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>